.summary {
    margin-bottom: 2em;
}

.label,
.value {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.label {
    display: inline-block;
    width: 7em;
    margin-right: 1em;
    text-transform: uppercase;
}

.value {
    font-weight: bold;
}
