.layout {
  display: flex;
}

.main {
  padding: 1em;
  flex: 1 1 auto;
}

.side {
  padding: 1em;
  flex: 1 0 40em;
  border-left: 1px solid #dddddd;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 2em;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.close > svg {
  font-size: 2.5em;
}