.layout {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.main {
  padding: 1em;
  flex: 1 1 auto;
  overflow: auto;
}

.side {
  padding: 1em;
  flex: 1 0 40em;
  border-left: 1px solid #dddddd;
  overflow: auto;
}
